SCALEKIT_ENVIRONMENT_URL=<your-environment-url>
SCALEKIT_CLIENT_ID=<your-client-id>
SCALEKIT_CLIENT_SECRET=<your-client-secret>
SCALEKIT_REDIRECT_URI=http://localhost:3000/api/auth/callback
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require&channel_binding=require
SCALEKIT_LOGOUT_REDIRECT_URI=http://localhost:3000/